<div class="container  mt-5">
  <div class="card">
    <div class="card-header">
      List of Games
    </div>
    <div class="card-body">
      <div>
        <input type="text" [(ngModel)]="inputValue">
        <button type="button" class="btn btn-primary" style="margin-left: 5px;" (click)="addGame()" [disabled]="inputValue.length === 0">Add</button>
      </div>
      <ul class="list-group mt-3">
        <li class="list-group-item  {{ (selectedGame===i) ? 'active' : ''}} " *ngFor="let game of games; let i=index"  (click)="selectGame(i)">
         {{i+1}}. {{game}}
         <span class="fa fa-remove" style="font: size 20px;color:red;" (click)="removeGame(i)"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
